* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.43);
}


h1 {
    color: white;
}

.tabla {
    margin: auto;
    background-color: green;
    width: 400px;
    height: 250px;

    font-size: 50px;
    text-align: center;
    
}