<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matias Blaquier</title>
    
    {% load static %}
    <link href="{% static 'CSS/style_Home2.css' %}", rel="stylesheet">
    <link href="../static/CSS/style_Home2.css", rel="stylesheet"> <!-- Live server -->

    <!-- ----------Google fonts---------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <!-- -------------------------------- -->
    <!-- ----------CSS---------- -->
    <style>
        
    </style>
    <!-- ----------------------- -->
    <!-- ----------JS----------- -->
    <script src="../static/JS/Home2.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("body").hide().fadeIn(500);
        })
    </script>
    <!-- ----------------------- -->
</head>
<body>
    <header>
        <h1>Matias Blaquier</h1>
        
    </header>
    <main>
        <div class="boxes">
            
            <div class="box one">
            
            </div>
            
            <div class="box two">
            
            </div>

            <div class="box three">
            
            </div>
            
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>