* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: #153448;
    padding: 0px 3px 3px 3px;
}

/*---------- pc screen ----------*/

/*---------- header ----------*/
header {
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;

    width: 100%;
    max-width: 1200px;
    min-height: 75px;
    background-color: #153448;

    z-index: 99;
}
header a {
    color: #948979;
    text-decoration: none;
    
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition: color 0.5s, font-size 0.3s;
}

/*--- inicio ---*/
#inicio a {
    font-size: 50px;
    color: #DFD0B8;
}
/*--- nav ---*/
#nav {
    display: flex;
    align-items: center;
}
#nav ul li {
    display: inline;
    margin: 0px 10px;
    align-items: center;
}
#nav a{
    font-size: 25px;
}
#nav a:hover {
    color:#DFD0B8;
    font-size: 26px;
}
/*---------- ------ ----------*/

/*---------- main ----------*/
#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px auto;
    padding: 20px;

    width: 300px;
    height: 420px;
    background-color:#3c5b6f71;
    border-radius: 25px;
}
#imgMati {
    width: 200px;
    margin-bottom: 10px;
}
#imgMati img {
    width: 200px;

    border-radius: 50%;
    border: 5px;
    border-style: solid;
    border-color: #dfd0b8cb;
}
#banner h1 {
    width: auto;
    margin-bottom: 5px;
    font-size: 40px;

    color: #DFD0B8;
    
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#banner h2 {
    width: auto;
    font-size: 30px;

    color: #DFD0B8;
    
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#redes {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 50px;

    background-color: #948979;
}
/*---------- ---- ----------*/
/*---------- --------- ----------*/

/*---------- mobile ----------*/
@media (max-width: 780px) {

    /*---------- header ----------*/
    header {
        flex-direction: column;
    }
    header #inicio {
        margin-bottom: 10px;
    }
    header #nav a {
        font-size: 20px;
    }

    /*---------- ------ ----------*/
    /*---------- main ----------*/
    #banner {
        width: 350px;
        height: 450px;
        margin: 200px auto;
    }
    #imgMati {
        margin-bottom: 20px;
    }
    #redes {
        margin-top: 30px;
    }
    /*---------- ---- ----------*/
}
/*---------- ------ ----------*/