<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BITCOIN</title>
    {% load static %}
    <link href="{% static 'CSS/style_analysis.css' %}", rel="stylesheet">
    <link href="../static/CSS/style_analysis.css", rel="stylesheet">

</head>
<body>
    <div class="columns-back">
        <div class="column one">
            <div class="home">
                <a href="http://localhost:8000/Inicio/Home"><img src="../static/media/Home_button.png" alt="Home"></a>
            </div>
            <p>Buenas</p>
        </div>
        <div class="column two">
            <p>Buenas</p>
        </div>
        <div class="column three">
            <p>Buenas</p>
        </div>
        <div class="column four">
            <p>Buenas</p>
        </div>
    </div>
    <div class="row">

    </div>
</body>
</html>