<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    {% load static %}
    <link href="{% static 'CSS/style_Prueba1.css' %}" rel="stylesheet">
    
    <style>
        header {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <a href="http://localhost:8000/Inicio/Home", style="font-size: 100px">Inicio</a>
        <h1>¡hola mundo!</h1>

    </header>
    <main>
        <br><br><br><br>
        <table class="tabla" border="1">
            <tr class="fila 1">
                <td class="columna 1">Buenas</td>
                <td class="columna 2">Buenas</td>
            </tr>
            <tr class="fila 2">
                <td class="columna 1">Buenas</td>
                <td class="columna 2">Buenas</td>
            </tr>
        </table>
    </main>
</body>
</html>