<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PruebaNum</title>
    {% load static %}
    <link href="{% static 'CSS/style_PruebaNum.css' %}" , rel="stylesheet">


</head>
<body>
    <h1>Host</h1>
    <div class="navegation">
        <a href="http://localhost:8000/Inicio/Home">Inicio</a>
    </div>
    <form class="Form1">
        <h2>Login</h2>
        <div class="Form1-inputs">
            <p>email:</p>
            <input type="text" placeholder="Write your email" class="mailform1">
        </div>
    </form>
</body>
</html>